.nav{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.nav-link{
    color: none;
    color: black !important;
    margin: 10px;
}

button {
    background-color: #1BC322;
    border: none;
    font-weight: 500;
    border-radius: 100%;
    padding: 5px 15px 8px 15px;
    border-radius: 20px !important;
}


.button1{
    display: flex;
    justify-content: end;
}

.indhold{
    display: flex;
    justify-content: end;
}